
<div *ngIf="customer">
    <h2><span jhiTranslate="mystaffApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mystaffApp.customer.firstName">First Name</span></dt>
        <dd>
            <span>{{customer.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.midleName">Midle Name</span></dt>
        <dd>
            <span>{{customer.midleName}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.lastName">Last Name</span></dt>
        <dd>
            <span>{{customer.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.login">Login</span></dt>
        <dd>
            <span>{{customer.login}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.passwordHash">Password Hash</span></dt>
        <dd>
            <span>{{customer.passwordHash}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.phone">Phone</span></dt>
        <dd>
            <span>{{customer.phone}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.email">Email</span></dt>
        <dd>
            <span>{{customer.email}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{customer.imageUrl}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.activated">Activated</span></dt>
        <dd>
            <span>{{customer.activated}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.langKey">Lang Key</span></dt>
        <dd>
            <span>{{customer.langKey}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.activationKey">Activation Key</span></dt>
        <dd>
            <span>{{customer.activationKey}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.resetKey">Reset Key</span></dt>
        <dd>
            <span>{{customer.resetKey}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.createdDate">Created Date</span></dt>
        <dd>
            <span>{{customer.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.resetDate">Reset Date</span></dt>
        <dd>
            <span>{{customer.resetDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{customer.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{customer.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mystaffApp.customer.company">Company</span></dt>
        <dd>
            <span *ngFor="let company of customer.companies; let last = last">
                <a [routerLink]="['/company', company?.id ]">{{company.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
