<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCustomerLabel" jhiTranslate="mystaffApp.customer.home.createOrEditLabel">Create or edit a Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!customer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="customer.firstName" required minlength="2" maxlength="50" />
            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.midleName" for="field_midleName">Midle Name</label>
            <input type="text" class="form-control" name="midleName" id="field_midleName"
                [(ngModel)]="customer.midleName" minlength="2" maxlength="50" />
            <div [hidden]="!(editForm.controls.midleName?.dirty && editForm.controls.midleName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.midleName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.midleName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="customer.lastName" minlength="2" maxlength="50" />
            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                [(ngModel)]="customer.login" minlength="3" maxlength="60" />
            <div [hidden]="!(editForm.controls.login?.dirty && editForm.controls.login?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.login?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.login?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.passwordHash" for="field_passwordHash">Password Hash</label>
            <input type="text" class="form-control" name="passwordHash" id="field_passwordHash"
                [(ngModel)]="customer.passwordHash" minlength="6" maxlength="60" />
            <div [hidden]="!(editForm.controls.passwordHash?.dirty && editForm.controls.passwordHash?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.passwordHash?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 6 }">
                   This field is required to be at least 6 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.passwordHash?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="customer.phone" minlength="5" maxlength="50" />
            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phone?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 5 }">
                   This field is required to be at least 5 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="customer.email" minlength="5" maxlength="100" />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 5 }">
                   This field is required to be at least 5 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                [(ngModel)]="customer.imageUrl" maxlength="100" />
            <div [hidden]="!(editForm.controls.imageUrl?.dirty && editForm.controls.imageUrl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imageUrl?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.activated" for="field_activated">Activated</label>
            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                [(ngModel)]="customer.activated"  />
            <div [hidden]="!(editForm.controls.activated?.dirty && editForm.controls.activated?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activated?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.langKey" for="field_langKey">Lang Key</label>
            <input type="text" class="form-control" name="langKey" id="field_langKey"
                [(ngModel)]="customer.langKey" maxlength="5" />
            <div [hidden]="!(editForm.controls.langKey?.dirty && editForm.controls.langKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.langKey?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                   This field cannot be longer than 5 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.activationKey" for="field_activationKey">Activation Key</label>
            <input type="text" class="form-control" name="activationKey" id="field_activationKey"
                [(ngModel)]="customer.activationKey" maxlength="5" />
            <div [hidden]="!(editForm.controls.activationKey?.dirty && editForm.controls.activationKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activationKey?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                   This field cannot be longer than 5 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.resetKey" for="field_resetKey">Reset Key</label>
            <input type="text" class="form-control" name="resetKey" id="field_resetKey"
                [(ngModel)]="customer.resetKey" maxlength="5" />
            <div [hidden]="!(editForm.controls.resetKey?.dirty && editForm.controls.resetKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resetKey?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                   This field cannot be longer than 5 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="customer.createdDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.resetDate" for="field_resetDate">Reset Date</label>
            <input type="text" class="form-control" name="resetDate" id="field_resetDate"
                [(ngModel)]="customer.resetDate" minlength="2" maxlength="50" />
            <div [hidden]="!(editForm.controls.resetDate?.dirty && editForm.controls.resetDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resetDate?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resetDate?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <div class="d-flex">
                <input id="field_lastModifiedBy" type="datetime-local" class="form-control" name="lastModifiedBy" [(ngModel)]="customer.lastModifiedBy"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.lastModifiedBy?.dirty && editForm.controls.lastModifiedBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastModifiedBy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastModifiedBy?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mystaffApp.customer.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="customer.lastModifiedDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.lastModifiedDate?.dirty && editForm.controls.lastModifiedDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastModifiedDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastModifiedDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="mystaffApp.customer.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" multiple name="company" [(ngModel)]="customer.companies" required>
                <option [ngValue]="getSelected(customer.companies, companyOption)" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
